.successapoint {
    height: 500px;
    background-color: aliceblue;
    text-align: center;
}



@media only screen and (max-width: 600px) {
    .successapoint img {
        width: 100%;
        padding-top: 50px;
    }
}